body {
  background-color: #f87c68;
}

.App {
  text-align: center;
}

header img {
  height: 200px;
  margin-top: 20px;
}

.App-header {
  background-color: #f87c68;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-area {
  color: white;
  font-size: calc(10px + 2vmin);
  font-weight: 300;
}

input {
  border-radius: 20px;
  padding: 15px;
  width: 50%;
  border: 1px solid white;
  font-size: calc(10px + 2vmin);
  color: #f87c68;
}

.error {
  background: white;
  color: #f87c68;
  padding: 5px;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  margin: 20px auto;
  font-size: calc(10px + 1vmin);
  font-weight: 500;
}
